{% load static %}

<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>INTRANET | Panel Alumno</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<link rel="stylesheet" href="{% static 'student_css/studentStyle.css' %}">


</head>

<body>
<div class="layout">
  <aside class="sidebar closed" id="sidebar">
    <div class="brand">
        <img src="assets/INSIGNIA_HIPONA-removebg-preview-e1679963461233.png" alt="Insignia Colegio" class="brand-logo">
        <span>Intranet</span>
    </div>
    <div class="profile">
      <div class="avatar">FH</div>
      <div class="profile-info">
        <div>Felipe Huencho</div>
        <div class="role">Alumno</div>
      </div>
    </div>
    <nav class="menu">
      <a href="#" data-section="dashboard" class="active"><i class="fa-solid fa-gauge"></i> <span>Dashboard</span></a>
      <a href="#" data-section="mis-clases"><i class="fa-solid fa-book"></i> <span>Mis Clases</span></a>
      <a href="#" data-section="tareas"><i class="fa-solid fa-file-pen"></i> <span>Tareas/Notas</span></a>
      <a href="#" data-section="calendario"><i class="fa-solid fa-calendar"></i> <span>Calendario</span></a>
      <a href="#" data-section="perfil"><i class="fa-solid fa-user"></i> <span>Perfil</span></a>
      <a href="#" data-section="pagos"><i class="fa-solid fa-wallet"></i> <span>Portal de Pagos</span></a>
    </nav>
  </aside>

  <section class="main">
    <header class="topbar">
      <button class="toggle" id="toggle"><i class="fa-solid fa-bars"></i></button>
      <div class="topbar-title" id="topbar-title">Dashboard</div>
      <div class="spacer"></div>
      <div class="user-mini">
        <span>Felipe Huencho</span>
        <div class="avatar-mini">FH</div>
        <i class="fa-solid fa-angle-down"></i>
      </div>
    </header>
    <main class="content">
      <div class="card" id="main-card">
        </div>
    </main>
    <footer class="footer">
      Copyright © Colegio San Agustín de Hipona 2025
    </footer>
  </section>
</div>

<script src="{% static 'js/studentApp.js' %}"></script>
</body>
</html>